<article
  class="project-card"
  (click)="viewProject()"
>

  <!-- IMAGEN DEL PROYECTO -->

  <div class="project-image">

    <img
      [src]="project.image"
      [alt]="project.name"
    >

    <div class="image-overlay"></div>


    <!-- ICONO -->

    <div class="project-icon">
      {{ project.icon }}
    </div>


    <!-- ESTADO -->

    <span
      class="status"
      [class.prototype]="project.status === 'Idea / Prototipo'"
    >
      {{ project.status }}
    </span>

  </div>


  <!-- INFORMACIÓN -->

  <div class="project-info">

    <span class="project-category">
      {{ project.category }}
    </span>

    <h3>
      {{ project.name }}
    </h3>

    <p>
      {{ project.description }}
    </p>


    <!-- PIE DE TARJETA -->

    <div class="project-bottom">

      <span class="view-text">
        Ver proyecto
      </span>

      <button
        class="project-arrow"
        type="button"
        aria-label="Ver proyecto"
      >
        →
      </button>

    </div>

  </div>

</article>